body {
  padding: 0;
  margin: 0;
}
.main-header {
  background-color: rgb(72, 189, 56);
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
}
.container {
  /* display: flex; */
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  justify-content: space-between;
}
.title h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 36px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  right: 40px;
  /* border: none; */
}
.search-list {
  padding: 5px;
  border: none;
  border-radius: 8px;
}
.btn-search {
  border: none;
  background-color: rgb(95, 151, 201);
  padding: 5px;
  border-radius: 5px;
}
/* Delete button styling */
.delete {
  background-color: #dc354686;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete:hover {
  background-color: #ff0019;
}
/* List styling */
.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}
